html *{
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    list-style-type: none;
    background-color: cornflowerblue;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}
a {
    font-size: 20px;
    text-decoration: none;
    padding: 30px 40px;
    color: white;
    text-align: center;
    display: block;
}

body{
    background-color: linen;
}

.active {
    background-color: #195BA6;
}

li:hover{
    background-color: #733DF2;
}

.content{
    padding-left: 100px;
}   

button{
    border: black;
    border-width: 2px;
    border-style: solid;
    color:white;
    padding: 5px 20px;
    font-size: 14px;
}
.submit{
    background-color: limegreen;
}
.clear{
    background-color: lightsalmon;
}
